body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-size: contain;
}

.trigger_module {
	background-image: url("./assets/Mob.jpg") !important;
	width: 100vw;
	height: 100vh;
}

.bg_button {
	width: 300px;
	height: 300px;
	border-radius: 999px 0px 0px 0px;
	background-color: #7f2422;

	position: fixed !important;
	right: 0px;
	bottom: 0px;
}

.menu_trigger {
	position: fixed !important;
	bottom: 30;
	right: 30;
}

.menu_icon {
	scale: 0.9;
}

.chatbot_trigger {
	position: absolute;
	bottom: 220;
	right: 40;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #c8582d;
}

.mic_trigger {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #c8582d;

	width: 120px;
	height: 120px;
	border-radius: 50%;

	position: fixed;
	bottom: 40px;
	right: 220;
}

@media (min-width: 1280px) {
	.bg_button {
		width: 8vw;
		height: 8vw;
	}

	.trigger_module {
		background-image: url("./assets/Small\ 1.png") !important;
	}

	.chatbot_trigger {
		position: absolute;
		bottom: 6vw;
		right: 1.2vw;
		border-radius: 999px;
		width: 3vw;
		height: 3vw;
		background-color: #c8582d;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
	}

	.chatbot_icon {
		width: 1vw;
	}

	.chatbot_trigger:hover {
		transform: scale(1.2);
		transition: all 0.2s ease-in-out;
		cursor: pointer;
	}

	.menu_trigger {
		position: absolute;
		bottom: 0.8vw;
		right: 0.8vw;
		width: 3.5vw;
		height: 3.5vw;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.menu_trigger:hover {
		transform: scale(1.2);
		transition: all 0.2s ease-in-out;
		cursor: pointer;
	}

	.menu_icon {
		width: 3.5vw;
	}

	.mic_trigger {
		position: fixed;
		width: 3vw;
		height: 3vw;
		right: 6vw;
		bottom: 0.8vw;

		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
	}

	.mic_trigger_icon {
		width: 16px;
		aspect-ratio: 0.8;
	}

	.mic_trigger:hover {
		transform: scale(1.2);
		transition: all 0.2s ease-in-out;
		cursor: pointer;
	}
}

/* body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-size: contain;
}
@media (max-width: 1280px) {
	body {
		background-image: url("./assets/Small\ 1.png");
	}
}
@media (min-width: 1281px) and (max-width: 1440px) {
	body {
		background-image: url("./assets/Medium\ 1.png");
	}
}
@media (min-width: 1441px) and (max-width: 1680px) {
	body {
		background-image: url("./assets/Large\ 1.png");
	}
}
@media (min-width: 1681px) and (max-width: 1920px) {
	body {
		background-image: url("./assets/Extra\ large\ 1.png");
	}
}

.trigger_module {
	position: fixed;
	bottom: 0;
	right: 0;
}

.bg_button {
	width: 7.5vw;
	height: 7.5vw;
	background-color: #7f2422;
	border-top-left-radius: 999px;
	position: relative;
}

.mic_trigger {
	position: absolute;
	bottom: 1vw;
	left: -1vw;
	border-radius: 999px;
	width: 3vw;
	height: 3vw;
	background-color: #c8582d;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}
.mic_trigger:hover {
	transform: scale(1.2);
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.mic_trigger_icon {
	width: 1vw;
}

.chatbot_trigger {
	position: absolute;
	bottom: 5.2vw;
	right: 1.2vw;
	border-radius: 999px;
	width: 3vw;
	height: 3vw;
	background-color: #c8582d;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}
.chatbot_trigger:hover {
	transform: scale(1.2);
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.chatbot_icon {
	width: 1vw;
}

.menu_trigger {
	position: absolute;
	bottom: 0.8vw;
	right: 0.8vw;
	width: 3.5vw;
	height: 3.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu_trigger:hover {
	transform: scale(1.2);
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.menu_icon {
	width: 3.5vw;
}

@media (min-width: 1681px) and (max-width: 1920px) {
	.bg_button {
		width: 7.2vw;
		height: 7.2vw;
	}

	.mic_trigger {
		bottom: 1.2vw;
		left: -0.6vw;
		width: 2.8vw;
		height: 2.8vw;
	}

	.mic_trigger_icon {
		width: 0.9vw;
	}

	.chatbot_trigger {
		bottom: 4.9vw;
		right: 1.2vw;
		width: 2.8vw;
		height: 2.8vw;
	}

	.chatbot_icon {
		width: 0.9vw;
	}

	.menu_trigger {
		bottom: 0.8vw;
		right: 0.8vw;
		width: 3.2vw;
		height: 3.2vw;
	}

	.menu_icon {
		width: 3.2vw;
	}
}

@media (max-width: 420px) {
	.bg_button {
		height: 100px !important;
		width: 100px !important;
		background-color: green !important;
	}

	.mic_trigger {
		width: 40px;
		height: 40px;
		left: -16px !important;
		bottom: 10px !important;
	}

	.menu_trigger {
		width: 40px !important;
		height: 40px !important;
		top: -16px !important;
		right: 10px;
	}

	.menu_icon {
		width: 40px;
		height: 40px;
	}

	.mic_trigger_icon {
		width: 16px;
		aspect-ratio: 0.8;
	}

	.chatbot_trigger {
		width: 40px;
		height: 40px;
		bottom: 12px !important;
		right: 10px;
	}

	.chatbot_icon {
		width: 20px;
		height: 20px;
	}
} */
